.react-final-marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 100%;
  min-height: var(--marquee-container-height);
  background-color: var(--marquee-background-color);
  color: var(--marquee-text-color);
  white-space: nowrap;
}
.react-final-marquee-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
}

/* direction */
.react-final-marquee-wrapper[data-direction="rightToLeft"]
  .react-final-marquee-item {
  transform: translateX(100%);
  padding-right: var(--space);
  animation-name: marqee-rightToLeft;
}

.react-final-marquee-wrapper[data-direction="leftToRight"]
  .react-final-marquee-item {
  float: right;
  padding-left: var(--space);
  animation-name: marqee-leftToRight;
}

.react-final-marquee-wrapper[data-direction="bottomToTop"]
  .react-final-marquee-item {
  animation-name: marqee-bottomToTop;
  padding-bottom: var(--space);
}

.react-final-marquee-wrapper[data-direction="topToBottom"]
  .react-final-marquee-item {
  animation-name: marqee-topToBottom;
  padding-bottom: var(--space);
}

.react-final-marquee-wrapper[data-direction="bottomToTop"],
.react-final-marquee-wrapper[data-direction="topToBottom"] {
  flex-direction: column;
}

.react-final-marquee-wrapper[data-direction="rightToLeft"] {
  left: 0px;
}
.react-final-marquee-wrapper[data-direction="leftToRight"] {
  right: 0px;
}

/* position */
.react-final-marquee-wrapper[data-position="start"] {
  top: 0px;
}

.react-final-marquee-wrapper[data-position="center"] {
  top: 50%;
  transform: translateY(-50%);
}

.react-final-marquee-wrapper[data-position="end"] {
  bottom: 0px;
}

.react-final-marquee-wrapper[data-direction="topToBottom"][data-position="start"],
.react-final-marquee-wrapper[data-direction="bottomToTop"][data-position="start"] {
  top: 0px;
  left: 0px;
}

.react-final-marquee-wrapper[data-direction="topToBottom"][data-position="center"],
.react-final-marquee-wrapper[data-direction="bottomToTop"][data-position="center"] {
  top: 0px;
  left: 50%;
  transform: translateY(0%) translateX(-50%);
}

.react-final-marquee-wrapper[data-direction="topToBottom"][data-position="end"],
.react-final-marquee-wrapper[data-direction="bottomToTop"][data-position="end"] {
  top: 0px;
  right: 0px;
}

.react-final-marquee-item {
  float: left;
  animation-play-state: var(--play);
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  height: 100%;
}

.react-final-marquee:hover .react-final-marquee-item {
  animation-play-state: var(--pause-on-hover);
}

@keyframes marqee-rightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marqee-leftToRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes marqee-bottomToTop {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes marqee-topToBottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
