.react-final-marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: var(--marquee-container-height);
  background-color: var(--marquee-background-color);
  color: var(----marquee-text-color);
}
.react-final-marquee-wrapper {
  position: absolute;
  display: flex;
}

.react-final-marquee-wrapper[data-direction="rightToLeft"] {
  left: 0px;
}
.react-final-marquee-wrapper[data-direction="leftToRight"] {
  right: 0px;
}

.react-final-marquee:hover .react-final-marquee-item {
  animation-play-state: var(--pause-on-hover);
}

.react-final-marquee-item {
  float: left;
  animation-play-state: var(--play);
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.react-final-marquee-wrapper[data-direction="rightToLeft"]
  .react-final-marquee-item {
  transform: translateX(100%);
  padding-right: var(--space);
  animation-name: marqee-rightToLeft;
}

.react-final-marquee-wrapper[data-direction="leftToRight"]
  .react-final-marquee-item {
  padding-left: var(--space);
  animation-name: marqee-leftToRight;
  float: right;
}

@keyframes marqee-rightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marqee-leftToRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
